:root {
    --co-hover: rgba(255, 0, 153, 0.75);
    --co-black: #000;
    --co-white: #fff;
    --co-overlay: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    --common-transition: all 0.4s;
}